.featuredProducts {
  padding: 100px 0;
  width: 80%;
  margin: auto;

  h1 {
    font-family: sans-serif;
    margin-bottom: 1rem;
  }

  p {
    width: 50%;
    font-family: sans-serif;
    margin-bottom: 2rem;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;

    .item {
      border: 1px solid #f2f2f2;
      padding: 10px;
      border-radius: 3px;
      position: relative;

      p {
        position: absolute;
        top: 1rem;
        background-color: #88ed88;
        border-radius: 2px;
        padding: 10px;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-family: sans-serif;
      }

      img {
        width: 100%;
        border-radius: 3px;
        margin-bottom: 0.5rem;

        &:hover {
          transform: scale(0.9);
          transition: 0.3s;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: sans-serif;
        font-weight: 500;
        position: relative;

        h3 {
          font-family: sans-serif;
          font-size: 1rem;
          font-weight: 100;
          margin-bottom: 1rem;
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 1rem;
            font-weight: 600;
          }

          button {
            border: none;
            padding: 0.3rem 1rem;
            background-color: #040454;
            color: #ddd;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 0.7rem;
            cursor: pointer;

            &:hover {
              background-color: #040454e8;
            }
          }
        }
      }
    }
  }

  .things {
    .things-items {
      display: flex;
      justify-content: space-between;

      .thing {
        display: flex;

        .icon {
          background-color: #ddd;
          color: #040454;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .title {
          margin-left: 0.5rem;

          h3 {
            font-family: sans-serif;
            margin-bottom: 0.5rem;
          }

          p {
            font-family: sans-serif;
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 1.3rem;
    }

    p {
      width: 100%;
    }

    .items {
      display: block;

      .item {
        margin-bottom: 2rem;

        p {
          width: fit-content;
          font-size: 0.7rem;
        }
      }
    }

    .things {
      .things-items {
        display: block;
      }
    }
  }
}
